body{
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.7;
    font-family: 'Playfair Display', serif;
    
}

/****************NAVBAR************/



.active-home{
    border-bottom: #7d7b7e 2px solid;
}

.logo-img{
    width: 60px;
    height: 60px;
}

.logo-title{
    margin-top: 10px;
    font-weight: bold;
    color: rgb(110, 104, 104);
}


.navbar{
    background: #ebf3f3;
    display: flex;
    justify-content: space-between;
}

.nav-item-1{
    order: 2;
}

.nav-item-2{
    order: 1;
    padding-left: 100px;
    font-size: 20px;
}

.nav-item-3{
    order: 3;
    padding-right: 100px;
    font-size: 20px;
}

.active-summer{
    border-bottom: #24c747 2px solid;
}

.nav-summer a:hover{
    border-bottom: rgb(12, 189, 12) 2px solid;
}

.active-winter{
    border-bottom: #1c92d2 2px solid;
}

.nav-winter a:hover{
    border-bottom: #1c92d2 2px solid;
}


/*******************WRAPPERS***********/

#wrapper{
    position: relative;
    width: 100%;
    min-height: 55vw;
    overflow: hidden;
}

.layer{
    position: absolute;
    width: 100vw;
    min-height: 55vw;
    overflow: hidden;
}

.layer .content-wrap{
    position: absolute;
    width: 100vw;
    min-height: 55vw;
}

.layer .content-body{
    width: 15%;
    position: absolute;
    top:50%;
    text-align: center;
    transform: translateY(-50%);
    color:white;
}

.layer img{
    position: absolute;
    width: 55%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.layer h1{
    font-size: 2em;
}

.bottom{
    background: linear-gradient(#f2fcfe, #1c92d2);
    z-index:1;
}

.bottom .content-body{
    right: 5%;
}

.bottom h1{
    color: white;
}


.top{
    background: linear-gradient( #56ab2f, #a8e063);
    z-index: 2;
}

.top .content-body{
    left: 5%;
    color: white; 
}

.handle{
    position: absolute;
    height: 100%;
    display: block;
    background-color: green;
    width: 5px;
    top:0;
    left: 50%;
    z-index: 3;
}

.split .handle{
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    transform-origin:top;
}

.split .top{
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.split .top .content-wrap{
    transform: skew(30deg);
    margin-left: 1000px;
}

/*******SUMMER**********/
/***********************/

.summer-background{
    background: #c2f5ae;
}

#summer-body{
    background: white;
    padding-bottom: 30px;
}

.hiking{
    padding-top: 10px;
}

 .hiking a :hover{
    background: #c2f5ae;
}

.heading-hiking{
    margin-top: 150px;
    margin-bottom: 60px;
}

.heading-hiking span{
    margin-left: 20px;
    font-size: 33px;
    color: #67b632;
}

.summer-icons{
    width: 35px;
    height: 35px;
    margin-bottom: 15px;
}

.photos{
    width: 1000px;
    height: 500px;
}

.lake-tours{
    margin-top: 80px;
    margin-bottom: 50px;
}

.lake-tours a :hover{
    background: #cfe5f8;
}

.lake-tours span{
    margin-left: 20px;
    font-size: 33px;
    color: #517bd6;
}


/*********WINTER*********/

.winter-background{
    background: #bdd6fa;
}

#winter-body{
    background: white;
    padding-bottom: 30px;
}

.skiing{
    padding-top: 10px;
}

 .skiing a :hover{
    background: #c7ecf7;
}

.heading-skiing{
    margin-top: 150px;
    margin-bottom: 60px;
}

.heading-skiing span{
    margin-left: 20px;
    font-size: 33px;
    color: #959ee9;
}

.winter-icons{
    width: 55px;
    height: 55px;
    margin-bottom: 15px;
}

.winter-snowboard{
    width: 45px;
    height: 45px;
    margin-bottom: 15px;
}

.accomodation{
    margin-top: 80px;
    margin-bottom: 50px;
}

.accomodation a :hover{
    background: #bdd6fa;
}

.accomodation span{
    margin-left: 20px;
    font-size: 33px;
    color: #517bd6;
}

.accomodation-icon{
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
}


/*******FOOTER**********/

.page-footer{
    background: #ebf3f3;
}

.footer-color{
    color: rgb(131, 117, 117);
}

@media(max-width: 768px){
    .logo{
        font-size: 15px;
    }

    .navbar-brand {
        font-size: 55%;
    }

    .logo-img{
        display: none;
    }
}




